html, body {
    background: url("/jiajiaowang/images/body_bg_02.jpg") repeat-x scroll 0 0 #94B8D0;
    color: #666666;
    font-family: "ו",Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.container {
    background: url("/jiajiaowang/images/cbg2.png") repeat-y scroll left top transparent;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    width: 1002px;
}

#main {
    clear: both;
    padding: 10px;
    width: 982px;
    margin: 0 auto;
}

#box_left {
    display: inline;
    float: left;
    width: 720px;
}

* {
    margin: 0;
    padding: 0;
}

.LBtopNav {
    float: left;
    width: 670px;
    margin-bottom: 10px;
}

a {
    color: #1C547E;
    text-decoration: none;
}

.LBtopNav span {
    margin: 0 5px;
}

.LBtopElect {
    color: #FF8505;
    font-weight: bold;
    text-decoration: underline;
}

.pleaseTtile {
    background: url("/jiajiaowang/images/please_title_left.jpg") no-repeat scroll left top #E7F3E1;
    color: #3B1004;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding-left: 30px;
    width: 610px;
}

.pleaseTtileRight {
    background: url("/jiajiaowang/images/please_title_right.jpg") no-repeat scroll right center #E7F3E1;
    color: #3B1004;
    float: left;
    height: 35px;
    line-height: 35px;
    width: 80px;
}

.plInfoTable {
    float: left;
    margin-bottom: 10px;
    width: 720px;
}

.plInfoTable tr {
    height: 35px;
}

.plInfoTable td {
    border: 1px solid #FFFFFF;
    padding: 3px;
    font-size: 12px;
}

#box_right {
    display: inline;
    float: right;
    width: 252px;
}

#box_right a {
    color: #1C547E;
    text-decoration: none;
}

.pleaseExp {
    background: url("/jiajiaowang/images/please_exp_top.jpg") no-repeat scroll left top #D0EEBA;
    float: left;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 252px;
}

.pleaseExpCon {
    float: left;
    line-height: 18px;
    padding: 0 10px;
    width: 232px;
}

.pleaseExpCon h1 {
    color: #3B1004;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.pleaseExpBot {
    background: url("/jiajiaowang/images/please_exp_bot.jpg") no-repeat scroll left bottom transparent;
    float: left;
    height: 10px;
    width: 252px;
}