html, body {
    background: url("../images/body_bg_02.jpg") repeat-x scroll 0 0 #94B8D0;
    color: #666666;
    font-family: "ו",Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.container {
    background: url("/jiajiaowang/images/cbg2.png") repeat-y scroll left top transparent;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    width: 1002px;
}

#head {
    background: url("/jiajiaowang/images/sone_01.jpg") no-repeat scroll 0 0 transparent;
    height: 150px;
    width: 1000px;
    margin: 0 auto;
}

.headLogo {
    float: left;
    padding: 1px 0 0 22px;
    width: 980px;
}

a {
    color: #1C547E;
    text-decoration: none;
}

.headLogo img {
    padding-top: 20px;
}

.headLogin {
    float: right;
    height: 90px;
    margin-right: 15px;
}

.headLogin ul {
    float: right;
    padding: 0 0 0 15px;
    text-align: right;
}

#main {
    margin-bottom: 30px;
    width: 1000px;
    margin: 0 auto;
    height: 680px;
}

.RTGbg h1 {
    color: #474A41;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 30px;
    text-align: center;
}

.RTGbg span {
    color: #56971F;
    font-size: 16px;
}

.RTGcon {
    background-image: url("/jiajiaowang/images/sone_09.jpg");
    background-repeat: repeat-x;
    border: 1px solid #8ED24A;
    color: #555555;
    float: left;
    line-height: 20px;
    width: 710px;
}

element.style {
    text-align: left;
}
.RTGconMes {
    color: #2B2B2B;
    line-height: 20px;
    margin: 0 20px;
    padding: 15px 0;
    text-align: center;
    width: 660px;
}

#tshi, #txing {
    color: #FF0000;
    font-size: 12px;
}

.regTable {
    background-color: #FBFBF5;
    border: 1px solid #5CAA00;
    margin: auto auto 10px;
    font-size: 12px;
}

.regTable td {
    padding: 3px 5px;
}
.RTGcon td {
    border: medium none;
    line-height: 30px;
}
.basic {
    background-color: #81CD35;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}

.tred {
    background-color: #FEF6D0;
}

.tgreen {
    background-color: #F3FFE9;
}

.wanc {
    border: medium none;
    float: left;
    height: 70px;
    margin: 0 0 10px 10px;
    text-align: center;
}

#next_dx {
    margin-bottom: 40px;
}


.next_x {
    background-image: url("/jiajiaowang/images/s_03.jpg");
}
.next_f, .next_x, .next_t {
    border: medium none;
    height: 32px;
    width: 95px;
}

.next_t {
    background-image: url("/jiajiaowang/images/hsign_11.jpg");
}

#box_right {
	background-image: url("/jiajiaowang/images/sone_08.jpg");
    display: inline;
    float: right;
    height: 320px;
    margin-right: 20px;
    width: 266px;
}

.YTright {
    background-image: url("/jiajiaowang/images/tsign_03.jpg");
    background-repeat: no-repeat;
    float: left;
    height: 230px;;
    margin-bottom: 10px;
    width: 255px;
}

.YTright p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.one {
    line-height: 90px;
}

.two {
    line-height: 8px;
}

.three {
    line-height: 80px;
}
