#main {
    clear: both;
    padding: 10px;
    width: 982px;
    margin: 0 auto;
}

html, body {
    background: url("/jiajiaowang/images/body_bg_02.jpg") repeat-x scroll 0 0 #94B8D0;
    color: #666666;
    font-family: "ו",Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.container {
    background: url("/jiajiaowang/images/cbg2.png") repeat-y scroll left top transparent;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    width: 1002px;
}

.inputOver {
    border: 1px solid #FF0000;
    height: 18px;
}

.inputFocus {
    border: 1px solid #64B6FB;
    height: 18px;
}

* {
    margin: 0 auto;
    padding: 0;
}

.LOGIN {
    background: url("/jiajiaowang/images/LOGIN_bg.jpg") repeat-y scroll 0 0 transparent;
    display: inline;
    float: left;
    width: 982px;
}

.LOGINtop {
    background: url("/jiajiaowang/images/LOGIN_top.jpg") no-repeat scroll center top transparent;
    float: left;
    height: 10px;
    width: 100%;
}


.LOGINcon {
    background: url("/jiajiaowang/images/LOGIN_pic.jpg") no-repeat scroll 762px bottom transparent;
    float: left;
    padding: 0 10px;
    width: 962px;
}

.LOGINcon h1 {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 20px;
    text-align: center;
}

element.style {
    margin-bottom: 60px;
    margin-top: 40px;
}

.LOGINcon td {
    padding: 5px;
}

.LOGIN_btn {
    background: url("/jiajiaowang/images/LOGIN.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 90px;
}

input {
    border: 1px solid #CCCCCC;
    height: 18px;
    vertical-align: middle;
}

.LOGINbot {
    background: url("/jiajiaowang/images/LOGIN_bot.jpg") no-repeat scroll center bottom transparent;
    float: left;
    height: 10px;
    width: 100%;
}

a{
	font-size: 12px;
}

.errorMessage li{
	list-style-type: none;
}